Here you will see and change the details of the party:

<br />
<input ng-model="party.name" />
<input ng-model="party.description" />
<label>Is Public</label>
<input type="checkbox" ng-model="party.public" />

<br />
<button ng-click="save()">Save</button>
<button ng-click="reset()">Reset Form</button>
<button ui-sref="parties">Cancel</button>

<ul>
	Users to invite:
	<li ng-repeat="user in users | uninvited:party">
		<div>{{ user | displayName }}</div>
		<button ng-click="invite(user)">Invite</button>
	</li>
</ul>